:root {
    --accent-primary-dark: #0e0f11;
    --accent-secondary-dark: #292b2f;
    --accent-tertiary-dark: #2f3136;
    --accent-hover-dark: #191b1f;
    --channel-name-dark: #989898;
    --channel-name-hover-dark: #f0f0f0;
}
/* App-wide styling */
body {
    background-color: var(--accent-primary-dark);
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
    display: flex;
    border: 0;
    border-top: 1px solid #fff;
    width: 30px;
}

.container {
    display: flex;
}

.sidebar-servers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 4em;
    gap: 0.5em;
    padding-right: 0.5em;
}


.sidebar-channels {
    width: 14em;
    gap: 100px;
}

.peony-scrollbar {
    overflow-y: auto;
}

.peony-scrollbar::-webkit-scrollbar {width: 5px;}

.peony-scrollbar::-webkit-scrollbar-track {
    background : transparent;
    border-radius: 10px;
}

.peony-scrollbar::-webkit-scrollbar-thumb { 
    background : rgba(92, 92, 92, 0.854);
    border-radius: 10px;
    box-shadow: none;
}

.peony-scrollbar-hover {
    overflow-y: hidden;

    &:hover {
        overflow-y: scroll;
    }
}

.list {
    list-style-type: none;
    padding-left: 0;
    gap: 1em;
    height: 90vh;
}

.reverse-list {
    display: flex;
    flex-direction: column-reverse;
}

.messages-list {
    height: 90%;
}

.sidebar-messages {
    flex-grow: 1;
}

.channels-list {
    background-color: var(--accent-primary-dark);
    border-radius: 15px;
}

.sidebar-messages-header {
    display: flex;
    vertical-align: middle;
    font-weight: bold;
    padding-bottom: 0px;
}

.sidebar-messages-subheader {
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.sidebar-messages-separator {
    display: flex;
    border: 0;
    border-top: 1px solid #707070;
    width: 100%;
    padding-bottom: 10px;
}

.server-icon {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 48;
    height: 48;
    background-color: darkslategrey;
    border-radius: 30px;
    overflow: hidden;
    
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    &:hover {
        transition: border-radius 0.15s;
        -webkit-transition: border-radius 0.15s;
        border-radius: 16px;
    }

    &:not(hover) {
        transition: border-radius 0.15s;
        -webkit-transition: border-radius 0.15s;
        border-radius: 30px;
    }
}

.channel-name {
    display: flex;
    align-items: center;
    color: var(--channel-name-dark);
    height: 2.4em;
    border-radius: 10px;
    margin-bottom: 2px;
    padding-left: 1em;

    &:hover {
        background-color: var(--accent-hover-dark);
        color: var(--channel-name-hover-dark);

        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }
}

.channel-name-selected {
    display: flex;
    align-items: center;
    
    height: 2.4em;
    border-radius: 10px;
    padding-left: 1em;
    gap: 1em;
    
    background-color: var(--accent-hover-dark);
    color: var(--channel-name-hover-dark);

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.linkable {
    color:inherit;
    text-decoration: none
}

.name {
    color: inherit;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.avatar {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 48;
    height: 48;
    background-color: purple;
    border-radius: 50%;
    overflow: hidden;
    
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.message {
    background-color: transparent;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-start;
    word-wrap: break-word;
    word-break: break-all;
    gap: 12px;
    
    &:hover {
        background-color: var(--accent-hover-dark);
    }

    .contents {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 4px;
    }

    .header {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .name {
        font-weight: bold;
    }

    .timestamp {
        font-weight: normal;
        font-size: 13px;
        color: gray;
    }

    .content {
        margin-top: 4px;
        font-weight: normal;
    }
}

.messages-bar {
    background-color: var(--accent-secondary-dark);
    display: flex;
    position: relative;
    height: 58px;
    border-radius: 15px;
    bottom: 80px;

    textarea {
        display: flex;
        align-items: center;
        background: inherit;
        border: none;
        font-size: 16px;
        color: white;
        outline-width: 0px;
        caret-color: white;
        width: 100%;
        resize: none;
        padding-top: 18px;
        padding-left: 15px;
        border-radius: 20px;

        &:focus, &.form-control:focus {
            outline:none !important;
            outline-width: 0 !important;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }
    }
}