:root {
    --accent-primary-dark: #130f1a;
    --accent-secondary-dark: #1A1423;
    --accent-tertiary-dark: #312541;
    --accent-border: #312541;
    --accent-hover-dark: #3A2D4E;

    --channel-name-dark: #989898;
    --channel-name-hover-dark: #f0f0f0;

    --member-list-section-header-dark: #655b74;
}

/* App-wide styling */
body {
    background-color: var(--accent-primary-dark);
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex: 1;
    height: 100dvh;
    width: 100dvw;
}

.sidebar-servers {
    display: flex;
    border-right: 1px solid var(--accent-border);
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 4em;
    gap: 0.5em;
    padding-right: 0.5em;
}


.sidebar-channels {
    padding-left: 10px;
    padding-right: 10px;
    width: 14em;
    gap: 100px;
}

.sidebar-members {
    width: 16%;
    background-color: var(--accent-secondary-dark);
    border-left: 1px solid var(--accent-border);
    gap: 100px;
    padding-left: 15px;
}

.sidebar-messages {
    max-width: 40dvw;
}

.member-list-section-header {
    color: var(--member-list-section-header-dark);
    padding-bottom: 12px;

    user-select: none;
    cursor: default;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.member-list-section-item {
    display: flex;
    align-items: center;
    color: var(--channel-name-dark);
    height: 2.4em;
    border-radius: 10px;
    margin-bottom: 2px;
    padding-left: 1em;

    &:hover {
        background-color: var(--accent-hover-dark);
        color: var(--channel-name-hover-dark);

        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }
}

.peony-scrollbar {
    overflow-y: auto;
}

.peony-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.peony-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.peony-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(92, 92, 92, 0.854);
    border-radius: 10px;
    box-shadow: none;
}

.peony-scrollbar-hover {
    overflow-y: hidden;

    &:hover {
        overflow-y: scroll;
    }
}

.list {
    list-style-type: none;
    padding-left: 0;
    max-height: 87vh;
}

.reverse-list {
    display: flex;
    flex-direction: column-reverse;
}

.messages-list {
    display: flex;
}

.channel-view {
    background-color: var(--accent-secondary-dark);
    flex: 1;
    flex-grow: 1;
    padding: 0px;
}

.channel-view-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-grow: 1;
    background-color: var(--accent-secondary-dark);
}

.sidebar-messages-header {
    display: flex;
    vertical-align: middle;
    border-bottom: 1px solid var(--accent-border);
    padding: 3px 0px 3px 0px;
}

.sidebar-messages-channel-title {
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: var(--channel-name-hover-dark);
    padding-right: 23px;
    padding-left: 15px;
}

.sidebar-messages-channel-message {
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-weight: normal;
    color: var(--channel-name-dark);
    font-size: 13px;
}

.channels-list {
    background-color: var(--accent-primary-dark);
    border-radius: 15px;
}

.server-icon {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 48;
    height: 48;
    background-color: darkslategrey;
    border-radius: 30px;
    overflow: hidden;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    &:hover {
        transition: border-radius 0.15s;
        -webkit-transition: border-radius 0.15s;
        border-radius: 16px;
    }

    &:not(hover) {
        transition: border-radius 0.15s;
        -webkit-transition: border-radius 0.15s;
        border-radius: 30px;
    }
}

.channel-name {
    display: flex;
    align-items: center;
    color: var(--channel-name-dark);
    height: 2.4em;
    border-radius: 10px;
    margin-bottom: 2px;
    padding-left: 1em;

    &:hover {
        background-color: var(--accent-hover-dark);
        color: var(--channel-name-hover-dark);

        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }
}

.channel-name-selected {
    display: flex;
    align-items: center;

    height: 2.4em;
    border-radius: 10px;
    padding-left: 1em;
    gap: 1em;

    background-color: var(--accent-hover-dark);
    color: var(--channel-name-hover-dark);

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.linkable {
    color: inherit;
    text-decoration: none
}

.name {
    color: inherit;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.avatar {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 48px;
    height: 48px;
    background-color: purple;
    border-radius: 50%;
    overflow: hidden;
    color: var(--channel-name-hover-dark);

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.avatar-small {
    width: 38px !important;
    height: 38px !important;
}

.message {
    background-color: transparent;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-start;
    word-wrap: break-word;
    word-break: break-all;
    gap: 12px;

    &:hover {
        background-color: var(--accent-hover-dark);
    }

    .contents {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 4px;
    }

    .header {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .name {
        font-weight: bold;
    }

    .timestamp {
        font-weight: normal;
        font-size: 13px;
        color: gray;
    }

    .content {
        margin-top: 4px;
        font-weight: normal;
    }
}

.messages-bar {
    background-color: var(--accent-tertiary-dark);
    display: flex;
    overflow: scroll;
    position: relative;
    margin: auto;
    height: auto;
    /* height: 58px; */
    border-radius: 15px;
    bottom: 0px;
    width: 98%;

    textarea {
        display: flex;
        align-items: center;
        background: inherit;
        border: none;
        font-size: 16px;
        color: white;
        outline-width: 0px;
        caret-color: white;
        width: 100%;
        resize: none;
        padding-top: 18px;
        padding-left: 15px;
        border-radius: 20px;
        field-sizing: content;

        &:focus,
        &.form-control:focus,
        &:hover {
            outline: none !important;
            outline-width: 0 !important;
            box-shadow: none;
            border: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }
    }
}